.mainContainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.col6 {
  background: aqua;
}
.main-row {
  display: flex;
}
.col3 {
  background-color: bisque;
}
li.list-group-item.d-flex.justify-content-between.align-items-center.st {
  margin-left: 0px !important;
  border-left: none;
}
.st {
  border-left: none;
  margin-left: -30px;
}
.st-wraper {
  border: 1px solid gray;
  margin-left: -32px;
  min-height: 500px;
}
