.i-message {
  font-size: 26px;
  color: #2125298c;
  /* margin-top: -24px; */
}
.add-bio {
  text-align: right !important;
  text-decoration: none;
  padding-left: 147px;
  color: #3578e5;
  color: #3578e5;
  font-size: 14px;
  text-transform: capitalize;
}
.bio-short {
  color: #1d2129;
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 4px;
}
.s-info {
  font-size: 14px;
  opacity: 0.7;
}
.bio-textarea {
  overflow: hidden;
  resize: none;
  border: none;
  border: 1px solid #adb5bd57;
}
.bio-t-b {
  height: 62px;
  background-color: #f5f6f7;
}
.btn-save {
  padding: 3px;
  text-align: center;
  width: 50px;
  background-color: #365899;
  color: #ffff;
  border: #365899;
  font-size: 12px;
  font-weight: bold;
}
.btn-public {
  padding: 2px 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #90949c;
}
.btn-cancel {
  padding: 3px 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  background-color: #ebedf0;
  color: #4b4f56;
  border: 1px solid #ccd0d5;
}
.form-control:focus {
  box-shadow: none;
}
.bio {
  opacity: 0.7;
}
.hm-1 {
  margin-top: -13px;
}
.h-icon {
  margin-right: 8px;
  font-size: 16px;
  color: #c2c3c4;
}
.showcase {
  font-size: 14px;
  color: #1c1e21;
  text-align: center;
}
.star-wraper {
  text-align: center;
}
.star {
  border: 1px solid #4b4f56b3;
  border-radius: 50%;
  display: block;
  font-size: 25px;
  margin: 0 auto;
  opacity: 0.7;
}
.add-featured {
  position: relative;
  left: 119px;
  top: 5px;
  color: #3578e5;
  font-size: 14px;
}
.showcase p {
  text-align: center;
  line-height: 1.4;
  margin-bottom: -22px;
}
.size-12 {
  font-size: 12px;
  color: #385898;
  font-weight: 600;
}
.circle-icon {
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  margin: 0 auto;
  font-size: 25px;
}
.green {
  color: #fff;
  border: 1px solid #a5d950;
  background-color: #a5d950;
}
.pink {
  color: #fff;
  border: 1px solid #f50e6b;
  background-color: #f50e6b;
}
.btn-languages {
  font-size: 16px;
  font-weight: bold;
  background-color: #f5f6f7;
  border-color: #ccd0d5;
  color: #4b4f56;
  line-height: 1;
}
